<h2>Ajouter étudiant</h2>
<form method="POST" action="/add">
  <input name="nom" placeholder="Nom" />
  <input name="prenom" placeholder="Prénom" />
  <input name="mail" placeholder="Mail" />
  <input name="formation" placeholder="Formation" />
  <button type="submit">Envoyer</button>
</form>
